<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
  xmlns="http://java.sun.com/xml/ns/javaee" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  
   <display-name>JEE 6 - Web Application from Java</display-name>
   
   <security-role>
   		<role-name>admins</role-name>
   </security-role>
   <security-role>
   		<role-name>users</role-name>
   </security-role>   
   
	<servlet>
		<servlet-name>TransportSecurity</servlet-name>
		<servlet-class>org.soap.security.TransportSecurity</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TransportSecurity</servlet-name>
		<url-pattern>/TransportSecurity</url-pattern>
	</servlet-mapping>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>TransportSecurity</web-resource-name>
			<url-pattern>/TransportSecurity</url-pattern>
			<http-method>POST</http-method>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>		
	</security-constraint>
		

	<servlet>
		<servlet-name>AppSecurity0</servlet-name>
		<servlet-class>org.soap.security.AppSecurity0</servlet-class>
		<security-role-ref>
			<role-name>ADMINS</role-name>
			<role-link>admins</role-link>
		</security-role-ref>
		<security-role-ref>
			<role-name>USERS</role-name>
			<role-link>users</role-link>
		</security-role-ref>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppSecurity0</servlet-name>
		<url-pattern>/AppSecurity0</url-pattern>
	</servlet-mapping>


	<security-constraint>
		<web-resource-collection>
			<web-resource-name>AppSecurity0</web-resource-name>
			<url-pattern>/AppSecurity0</url-pattern>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admins</role-name>
			<role-name>users</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>		
	</security-constraint>
			
	<login-config>
	    <auth-method>BASIC</auth-method>
	    <realm-name>file</realm-name>
	</login-config>
	
   <session-config>
      <session-timeout>1</session-timeout>
   </session-config>	
   
</web-app>