<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
  xmlns="http://java.sun.com/xml/ns/javaee" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  
   <display-name>JEE 6 - Web Application from Java</display-name>

   <session-config>
      <session-timeout>60</session-timeout>
   </session-config>
   
   <security-role>
   		<role-name>administrador</role-name>
   </security-role>
   <security-role>
   		<role-name>usuario</role-name>
   </security-role>
			
	<login-config>
	    <auth-method>BASIC</auth-method>
	    <realm-name>file</realm-name>
	</login-config>
   
</web-app>