<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" 
	version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
						http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <display-name>Servlet 3.0 Web Application</display-name> 
  <servlet>
       <servlet-name>Jersey Web Application</servlet-name>
       <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
       <!-- init-param>
           <param-name>com.sun.jersey.config.property.packages</param-name>
           <param-value>jwscert.rest.services</param-value>
       </init-param -->       
       <init-param>
           <param-name>javax.ws.rs.Application</param-name>
           <param-value>jwscert.rest.services.MyApp</param-value>
       </init-param>
       <init-param>
           <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
           <param-value>true</param-value>
       </init-param>
  </servlet>   
 
  <servlet-mapping>
     <servlet-name>Jersey Web Application</servlet-name>
     <url-pattern>/resources/*</url-pattern>
  </servlet-mapping>
   
  <session-config>
      <session-timeout>
          30
      </session-timeout>
  </session-config>
 						
</web-app>
